header {
  padding: 50 50;
  margin-bottom: 6;
  font-size: 20px;
}

.brand {
  padding-bottom: 20px;
}

.main-icon {
  text-align: right;
}

nav a {
  margin-right: 35;
}

/*COURSES*/
.courses {
  display: flex;
}
.course {
  padding: 0 3 8 0;
}

.course img {
  border-radius: 7px 7px 0px 0px;
}

.inner {
  padding: 5%;
  border-radius: 0px 0px 7px 7px;
}
.inner p {
  text-align: justify;
}

/*FOOTER*/
footer {
  padding: 70 70;
  margin-top: 10px;
}

.social-icons i {
  margin-right: 15px;
}

@media (max-width: 900px) {
  header {
    flex-direction: column;
  }
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 17;
  }
  #icon {
    display: initial;
  }
  #check:checked ~ nav {
    display: none;
  }
  .courses {
    flex-wrap: wrap;
  }
  .course {
    max-width: 49%;
  }
}

@media (max-width: 550px) {
  .course {
    max-width: 99%;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 80%;
  }
}
